WebUI/Service References/ServiceReferenceJoueur/GestionJoueur.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionJoueur" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53150/UCCImpl/GestionJoueur.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53150/UCCImpl/GestionJoueur.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53150/UCCImpl/GestionJoueur.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wazabi2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionJoueur_Inscription_InputMessage">
    <wsdl:part name="parameters" element="tns:Inscription" />
  </wsdl:message>
  <wsdl:message name="IGestionJoueur_Inscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:InscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionJoueur_Connexion_InputMessage">
    <wsdl:part name="parameters" element="tns:Connexion" />
  </wsdl:message>
  <wsdl:message name="IGestionJoueur_Connexion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnexionResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionJoueur">
    <wsdl:operation name="Inscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJoueur/Inscription" message="tns:IGestionJoueur_Inscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJoueur/InscriptionResponse" message="tns:IGestionJoueur_Inscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connexion">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionJoueur/Connexion" message="tns:IGestionJoueur_Connexion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionJoueur/ConnexionResponse" message="tns:IGestionJoueur_Connexion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGestionJoueur" type="tns:IGestionJoueur">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inscription">
      <soap:operation soapAction="http://tempuri.org/IGestionJoueur/Inscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connexion">
      <soap:operation soapAction="http://tempuri.org/IGestionJoueur/Connexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionJoueur">
    <wsdl:port name="BasicHttpBinding_IGestionJoueur" binding="tns:BasicHttpBinding_IGestionJoueur">
      <soap:address location="http://localhost:53150/UCCImpl/GestionJoueur.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>