WebUI/Service References/ServiceReferenceJoueur/GestionJoueur2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53150/UCCImpl/GestionJoueur.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wazabi2" />
  <xs:element name="Inscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wazabi2" minOccurs="0" name="joueur" nillable="true" type="q1:JoueurClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InscriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Connexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wazabi2" minOccurs="0" name="joueur" nillable="true" type="q2:JoueurClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wazabi2" minOccurs="0" name="ConnexionResult" nillable="true" type="q3:JoueurClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>