Tests/Service References/ServiceJoueur/GestionJoueur.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wazabi.Client" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/Wazabi.Client"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JoueurClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mdp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pseudo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoueurClient" nillable="true" type="tns:JoueurClient" />
  <xs:complexType name="ArrayOfJoueurClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JoueurClient" nillable="true" type="tns:JoueurClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJoueurClient" nillable="true" type="tns:ArrayOfJoueurClient" />
</xs:schema>