WebUI/Service References/ServiceReferencePartie/GestionPartie.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wazabi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wazabi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JoueurClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mdp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pseudo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoueurClient" nillable="true" type="tns:JoueurClient" />
  <xs:complexType name="PartieClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateHeureCreation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Etat" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sens" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartieClient" nillable="true" type="tns:PartieClient" />
</xs:schema>