WebUI/Service References/ServiceReferencePartie/GestionPartie2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53150/UCCImpl/GestionPartie.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wazabi.Client" />
  <xs:element name="CreerPartie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wazabi.Client" minOccurs="0" name="joueur" nillable="true" type="q1:JoueurClient" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerPartieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreerPartieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LancerPartie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LancerPartieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LancerPartieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RejoindrePartie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wazabi.Client" minOccurs="0" name="joueur" nillable="true" type="q2:JoueurClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejoindrePartieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejoindrePartieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartieCourante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PartieCouranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wazabi.Client" minOccurs="0" name="PartieCouranteResult" nillable="true" type="q3:PartieClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitterPartie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wazabi.Client" minOccurs="0" name="joueur" nillable="true" type="q4:JoueurClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitterPartieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParties">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wazabi.Client" minOccurs="0" name="GetPartiesResult" nillable="true" type="q5:ArrayOfPartieClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJoueurPartie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartie" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJoueurPartieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wazabi.Client" minOccurs="0" name="GetJoueurPartieResult" nillable="true" type="q6:ArrayOfJoueurPartieClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearBD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearBDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>